// Define variables for your color scheme

// For example:
$dark-green: #264653;
$mid-green: #2A9D8F;
$yellow-palo: #E9C46A;
$dark-terracota: #E76F51;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFCD3C;
$orange: #FF9234;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
