// Specific CSS for your home-page

.main-container {
    height: 100vh;
    background-image: url("cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;

    form{
        margin-top: 50px;
    }
}

.fun{
    color: $orange;
    justify-items: center;
    padding-top: 55px;
}
