// Specific CSS for your home-page

.main-container {
    height: 100vh;
    background-image: url("cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;

    form{
        margin-top: 28px;
    }
 
}

.fun{
    color: $orange;
    justify-items: center;
    padding-top: 25px;
    margin-left: 25px;
}
.home-grey{
    color:rgba(211, 211, 211, 0.575);
    font-weight: lighter;
    font-size: normal;
}
