
<div>
  <h1 class="fun">Making <strong> Eating </strong> out <strong> easier</strong>!</h1>
  <h2 class="home-grey">Working to make your meals safe and allergens free</h2>
</div>
  <div class="form-container">
    <form action="/restaurants" method="get" data-controller="geocoder"  data-geocoder-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>" class="search-container">
      <div data-geocoder-target="container"></div>
      <input type="text" name="address" placeholder="Type your address!"
              data-geocoder-target="address" class="d-none">
      <input type="submit" value="Go" class="btn" id="go">
    </form>
  </div>
