<div>
  <h1 class="fun">Let's make eating fun again !</h1>

  <form action="/restaurants" method="get">
    <input type="text" name="address" placeholder="Where do you want to eat?">
    <input class="go" type="submit" value="Go">
  </form>
</div>