<div>
  <h1 class="fun">Let's make eating fun again !</h1>

  <form action="/restaurants" method="get" data-controller="geocoder"  data-geocoder-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <input type="text" name="address" placeholder="Type your address!"
            data-geocoder-target="address">
    <input type="submit" value="Go">
  </form>
</div>
