
.tag-item {
    display: inline-block;
  }

  .tag-selector {
    position: absolute;
    transform: scale(0);
  }

  .tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    background-color: #ECEAFF;
    color: #11121c;
    border: 1px solid $orange;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
    font-weight: normal;
  }

  .tag-selector:checked + label {
    color: white;
  }

  .category-name {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 200;
  letter-spacing: 0.2em;
  padding-top: .1rem;
  padding-left: .5em;
  background-color: gray;
  height: 100%;
  display: block;
}

.ing-cat-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: -.5em;
  margin-top: -.5em;
  margin-right: -.5em;

}

.search_ingredients, .category-name {
  border-bottom: 1px black solid;
}


.search_ingredients{
  padding-left: 10px;
  margin-bottom: 0 !important;
}
