
.tag-item {
    display: inline-block;
  }

  .tag-selector {
    position: absolute;
    transform: scale(0);
  }

  .tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    color: #11121c;
    border: 1px solid $orange;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
    font-weight: normal;
    margin-left: 0.5rem;

  }

  .tag-selector:checked + label {
    color: white;
    background-color: $orange;
  }

  .category-name {
  font-size: 13px;
  font-weight: bold;
  margin-left: .5em ;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 200;
  letter-spacing: 0.2em;
  padding-top: .2rem;
  padding-left: .5em;
  background-color: lightgrey;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ing-cat-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: -.5em;
  margin-top: -.5em;
  margin-right: -.5em;
  //margin-bottom: 10px;
}

.color_ingredient {
  color: $orange !important;
  text-align: center;
  font-weight: normal;
  background-color: hsl(235, 24%, 9%);
}

.search_ingredients, .category-name {
  border-bottom: 1px $orange solid;
}


.search_ingredients{
  padding-left: 10px;
  margin-bottom: 0 !important;
}
.details{
  padding: 0px !important;
}

#filter{
  margin-bottom: 0px;
}
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: black;
}
//.form-check-label{
 // color: #11121c !important;
  //background-color: lightgray;
//}

//.form-check-label:checked + label {
 // color: white;
 // background-color: $orange;
//}