

.go {
    background-color: $orange;
    padding: 3px 30px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;

    .go:hover {
        padding: 12px;
        font-weight: bolder;
    }


}
