

#go {
  font-family: 'Ubuntu Condensed';
  font-size: 19px;
  background-color: #264653;
  color: white;
  width: 90%;
  padding: 3px 20px;
  margin: 5px;
  border-radius: 5px;

  #go:hover {
    padding: 11px;
    font-weight: bold;
  }
}
