

#go {
  font-family: 'Ubuntu Condensed';
  background-color: #264653;
  color: white;
  width: 90%;
  padding: 4px 20px;
  margin: 5px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 5px;

  #go:hover {
    padding: 12px;
    font-weight: bold;
  }
}
