.border-heart{
    color: red;
    font-size: 23px;
    text-shadow: 1px 0 2px black;
  }
.selected-heart{
color: red;
font-size: 25px;
}

.heart{
    position: relative;
    bottom: 280px;
    left: 350px;
}
