.logo{
    color: $orange;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ruda', sans-serif;
    text-decoration: none;
    margin-left: 35%;
}