.mapboxgl-popup {
  max-width: 200px;
  margin-bottom: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.mapboxgl-ctrl-top-right{
  transform: scale(70%)translateX(45px);

}

.marker {
  background-color: black;
}

.mapboxgl-marker {
  path {
    fill: $orange;
  }
}
// .mapboxgl-marker-anchor-center path {
//   background-color: bisque;
// }
