.navbar {
  background-color: $dark-green;

  .logo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;

    color: $yellow-palo;
    text-decoration: none;
    padding-left: 40px;
  }

}

.navbar-toggler .menu-burger svg {
  color: white;
  border: none;
}





// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   color: $orange;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .stripe-menu{
//   color: lightgrey;
// }
//  .menu-burger{
//    fill: rgb(129, 128, 128);
//  }

//  .home-navbar{
//   background-color: hsl(235, 24%, 9%);
//  }

//  .logo-container{
//    justify-items: center;
//  }
// .navbar-light .navbar-nav .nav-link{
//   color: lightgray;
// }
// a {
//   color: white;
//   text-decoration: none;

// }
// a:hover {
//   color: $orange;
// }
