.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #11121c;

  p {
    color: #FF9234;
    margin: 10px auto;
  }

}


.profile-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 15px;

  // img {
  //   width: 27%;
  // }
}

.ing-cat-container .profile {
  margin-top: 10px;
}
