
// .form-container form{
//   display: grid;
//   grid-template-columns: 2fr 1fr;

//  }

.search-container {
  position: absolute;
  height: 26px;
  left: 21px;
  top: 244px;

  display: flex;
  align-items: center;
  width: 70%;
  padding: 3px 30px;
  margin: 5px;
  // font-size: normal;

}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  min-width: 129px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 33px;
  font: -webkit-control;
  background-color: rgba(211, 211, 211, 0.397);
  border-radius: 5px;

}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 8px;
}
