// .home-container {
//   display: flex;
//   flex-direction: column;
// }

.form-container {
  width: 100%;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  min-width: 129px;
}
