.show-banner {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  h1 {
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content
  }
}
.show-info{
  margin-top: 15px;
  width: 100%;
}
.first-row{
  padding: 15px;
}


.top-info{
  width: 100%;
  display: flex;
  //justify-content: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-wrapper{
  justify-content: space-around;
  display: flex;
  padding: 10px;
}

#icon{

  margin: 10px;
  width: 20px;
  height: 20px;
}

.red{
  color: $orange;
 
}

.green{
  color: green;
}

.available{
  display: flex;
  justify-content: center;

  p{
    text-transform: lowercase;
  }
  i{
    padding: 10px;
  }
}
#price{
  font-weight: bold;
}

.hour{
  display: flex;
  justify-content: center;
}

.icon-description{
  display: flex;
  align-items: center
}