.show-banner {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  h1 {
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content
  }
}
.show-info{
  margin-top: 15px;
}
.first-row{
  padding: 15px;
}


.top-info{
  width: 100%;
  display: flex;
  //justify-content: center;
  justify-content: space-between;
}

#icon{
  margin: 10px;
  width: 20px;
  height: 20px;
}

.red{
  color: $orange;
 
}

.green{
  color: green;
}

.available{
  display: flex;
  justify-content: center;


  i{
    padding: 10px;
  }
}
